* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
}

.logo-container {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo {
    height: 70%;
    margin-left: 30px;
}

.ricerca-container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#input-search {
    width: 300px;
    margin-right: 5px;
    padding: 5px 20px;
    border: 0;
    border-radius: 2px;
}

#button-search {
    background-color: white;
    margin-right: 30px;
    padding: 5px 10px;
    border: 0;
    border-radius: 2px;
}

#film-container {
    margin-left: 30px;
}

.film-card {
    margin-bottom: 30px;
}

.white-star {
    font-size: 25px;
    color: #a3a3a3;
}

.yellow-star {
    font-size: 25px;
    color: #ffcc00;
}

.flag {
    height: 50px;
}
